<span style='color: #000'>146 frames</span>	<span style='color: #900'>4,096 KB</span>	<span style='color: #090'>306.55 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/block_frame_reflower.cls.php</p>
<p>Line Number: 699</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 699<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 472</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\style.cls.php<br />
			Line: 472<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame.cls.php<br />
			Line: 447<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 184<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_decorator.cls.php<br />
			Line: 163<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 768<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 472</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\style.cls.php<br />
			Line: 472<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame.cls.php<br />
			Line: 447<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 184<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_decorator.cls.php<br />
			Line: 163<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 768<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/block_frame_reflower.cls.php</p>
<p>Line Number: 699</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 699<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_frame_reflower.cls.php</p>
<p>Line Number: 557</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 557<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_frame_reflower.cls.php</p>
<p>Line Number: 558</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 558<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 387<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/table_cell_frame_reflower.cls.php</p>
<p>Line Number: 99</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 99<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  A non well formed numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 472</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\style.cls.php<br />
			Line: 472<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame.cls.php<br />
			Line: 447<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 184<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_decorator.cls.php<br />
			Line: 163<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 491<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  A non well formed numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 472</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\style.cls.php<br />
			Line: 472<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame.cls.php<br />
			Line: 447<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 184<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_decorator.cls.php<br />
			Line: 163<br />
			Function: get_margin_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 491<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/block_frame_reflower.cls.php</p>
<p>Line Number: 699</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 699<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 86<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 86<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 86<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 439</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_decorator.cls.php<br />
			Line: 439<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 725<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_cell_frame_reflower.cls.php<br />
			Line: 86<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_frame_reflower.cls.php<br />
			Line: 41<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_row_group_frame_reflower.cls.php<br />
			Line: 38<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\table_frame_reflower.cls.php<br />
			Line: 469<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_frame_reflower.cls.php<br />
			Line: 722<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 138<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 472</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\style.cls.php<br />
			Line: 472<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame.cls.php<br />
			Line: 508<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 186<br />
			Function: get_border_box			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_renderer.cls.php<br />
			Line: 22<br />
			Function: get_border_box			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 283<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 106<br />
			Function: _render_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 185<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 185<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 185<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 147<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  A non well formed numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 472</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\style.cls.php<br />
			Line: 472<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame.cls.php<br />
			Line: 508<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 186<br />
			Function: get_border_box			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\block_renderer.cls.php<br />
			Line: 22<br />
			Function: get_border_box			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 283<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 106<br />
			Function: _render_frame			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 185<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\renderer.cls.php<br />
			Line: 185<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\page_frame_reflower.cls.php<br />
			Line: 147<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\frame_decorator.cls.php<br />
			Line: 556<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\libraries\dompdf\include\dompdf.cls.php<br />
			Line: 817<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\core\MY_Controller.php<br />
			Line: 59<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\application\controllers\Laporan.php<br />
			Line: 58<br />
			Function: exportPDFL			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: C:\xampp\htdocs\ocvs_ic\index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>